

# Local environment files
.env
.env.*
!.env.example
src/main/resources/application-local.properties

# Ignore IDE files
.idea/
*.iml
.classpath
.project
.settings/

# Ignore log files
*.log

# Ignore build files
target/
*.class
