# Ignore application.properties
application.properties
src/main/resources/application.properties

# Ignore all environment-specific properties
*.properties
!application-sample.properties

# Ignore IDE files
.idea/
*.iml
.classpath
.project
.settings/

# Ignore log files
*.log

# Ignore build files
target/
*.classsrc/main/resources/application.properties
